<!-- start: MAIN NAVIGATION MENU -->
<ul class="main-navigation-menu">
    <li ui-sref-active="active">
        <a ui-sref="app.add_restaurant">
            <div class="item-content">
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.add_restaurant.MAIN"> Add restaurant </span>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.add_menu">
            <div class="item-content">
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.add_menu.MAIN"> Add menu </span>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.orders">
            <div class="item-content">
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.orders.MAIN"> Orders </span>
                </div>
            </div>
        </a>
    </li>
</ul>
<!-- end: MAIN NAVIGATION MENU -->
